Repository vinhyenvodoi98/LLM_hackathon_2023, pull requests merged in 2023-10, with the labels that each got.

#8 Setup backend #2
  .env.example
  .gitignore
  README.md
  backend/Dockerfile
  backend/README.md
  backend/app.py
  backend/database/__init__.py
  backend/database/database_type_technology.py
  backend/database/technologies.py
  backend/main.py
  backend/models/__init__.py
  backend/models/technology_type.py
  backend/requirements.txt
  backend/routes/technology.py
  docker-compose.yml
Labels: backend

#7 [Issue-5] Setup LLM and Langchain
  backend/llm/.gitignore
  backend/llm/README.md
  backend/llm/requirements.txt
  backend/scripts/test.py
Labels: llm

#11 Create template API #10
  backend/app.py
  backend/models/analysis/__init__.py
  backend/models/analysis/database_analysis.py
  backend/routes/analysis.py
  backend/sample_data/database_template.json5
Labels: backend

#17 feat: finish mockup
  frontend/app/app/page.tsx
  frontend/app/components/Header/index.tsx
  frontend/app/components/Icon/index.tsx
  frontend/app/components/LandingPage1/index.tsx
  frontend/app/components/button.tsx
  frontend/app/components/checkbox.tsx
  frontend/app/components/table.tsx
  frontend/app/components/tooltip.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/package.json
  frontend/yarn.lock
Labels: frontend

#20 Issue 9
  .env.example
  .gitignore
  backend/database/__init__.py
  backend/database/database_type_technologies/__init__.py
  backend/database/database_type_technologies/big_query.py
  backend/database/database_type_technologies/big_table.py
  backend/database/database_type_technologies/cassandra.py
  backend/database/database_type_technologies/dynamodb.py
  backend/database/database_type_technologies/influxdb.py
  backend/database/database_type_technologies/mariadb.py
  backend/database/database_type_technologies/microsoft_sql_server.py
  backend/database/database_type_technologies/mongodb.py
  backend/database/database_type_technologies/mysql.py
  backend/database/database_type_technologies/neo4j_db.py
  backend/database/database_type_technologies/oracle_database.py
  backend/database/database_type_technologies/postgresql.py
  backend/database/database_type_technologies/redis.py
  backend/database/database_type_technologies/timescaledb.py
  backend/database/database_type_technology.py
  backend/main.py
  backend/models/analysis/database_analysis.py
  backend/routes/analysis.py
  backend/sample_data/database_template.json5
  backend/technologies_selectors/database_technologies_selector.py
Labels: backend

#16 Create LLM base and interactors #14
  backend/llm/__init__.py
  backend/llm/config/__init__.py
  backend/llm/config/palm_model_config.py
  backend/llm/config/prompt_config.py
  backend/llm/llm_base/__init__.py
  backend/llm/llm_base/output_parser.py
  backend/llm/llm_base/palm_model.py
  backend/llm/llm_base/prompt.py
  backend/llm/llm_interactor.py
  backend/llm/requirements.txt
  backend/requirements.txt
Labels: llm

#26 Implement technologies selecting API #22
  backend/app.py
  backend/database/database_type_technologies/big_query.json5
  backend/database/database_type_technologies/big_query.py
  backend/database/database_type_technologies/big_table.json5
  backend/database/database_type_technologies/big_table.py
  backend/database/database_type_technologies/cassandra.json5
  backend/database/database_type_technologies/cassandra.py
  backend/database/database_type_technologies/dynamodb.json5
  backend/database/database_type_technologies/dynamodb.py
  backend/database/database_type_technologies/influxdb.json5
  backend/database/database_type_technologies/influxdb.py
  backend/database/database_type_technologies/mariadb.json5
  backend/database/database_type_technologies/mariadb.py
  backend/database/database_type_technologies/microsoft_sql_server.json5
  backend/database/database_type_technologies/microsoft_sql_server.py
  backend/database/database_type_technologies/mongodb.json5
  backend/database/database_type_technologies/mongodb.py
  backend/database/database_type_technologies/mysql.json5
  backend/database/database_type_technologies/mysql.py
  backend/database/database_type_technologies/neo4j_db.json5
  backend/database/database_type_technologies/neo4j_db.py
  backend/database/database_type_technologies/oracle_database.json5
  backend/database/database_type_technologies/oracle_database.py
  backend/database/database_type_technologies/postgresql.json5
  backend/database/database_type_technologies/postgresql.py
  backend/database/database_type_technologies/redis.json5
  backend/database/database_type_technologies/redis.py
  backend/database/database_type_technologies/timescaledb.json5
  backend/database/database_type_technologies/timescaledb.py
  backend/models/analysis/database_analysis.py
  backend/models/selecting.py
  backend/routes/analysis.py
  backend/routes/selecting.py
  backend/sample_data/database_template.json5
  backend/technologies_selectors/database_technologies_selector.py
Labels: backend, database

#23 Add input parser and update template #21
  backend/llm/config/palm_model_config.py
  backend/llm/config/prompt_config.py
  backend/llm/llm_base/output_parser.py
  backend/llm/llm_base/prompt.py
  backend/llm/llm_interactor.py
Labels: llm

#41 27 tích hợp phần llm vào analysis api
  .env.example
  backend/llm/config/prompt_config.py
  backend/llm/llm_base/palm_model.py
  backend/llm/llm_base/prompt.py
  backend/llm/llm_interactor.py
  backend/main.py
  backend/models/analysis/database_analysis.py
  backend/requirements.txt
  backend/routes/analysis.py
  docker-compose.yml
Labels: llm

#43 Implement LLM for selecting prompt
  backend/llm/config/prompt_config.py
  backend/llm/llm_base/output_parser.py
  backend/llm/llm_base/prompt.py
  backend/llm/llm_interactor.py
Labels: llm
